[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
keras = "*"
numpy = "*"
scikit-learn = "*"
pillow = "*"
flask = "*"
werkzeug = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
